h1 {
    font-family: 'Montserrat Black', Ink Free;
    font-weight: bold;
    text-align: center;
    color: #333;
}

p, button {
    font-family: 'Montserrat Light', Microsoft YaHei Light;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

@media (min-width: 768px) {
    img {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    img {
        width: 30%;
    }
}

/* Поля ввода */
input[type="text"],
input[type="url"],
select {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat Light', sans-serif;
}

/* Для поля ввода имени (когда оно пустое, появляется серый текст) */
input::placeholder {
    font-family: 'Montserrat Light', sans-serif;
    color: #ccc;
    font-style: italic;
}

/* Для поля ввода даты рождения */
#birthday {
    font-family: 'Montserrat Light', Microsoft YaHei Light;
    display: flex;
    justify-content: space-between;
    color: #9964b8;
    font-style: italic;
}

#birthday select {
    font-family: 'Montserrat Light', Microsoft YaHei Light;
    flex: 1;
    margin: 0 5px;
}


/* Для placeholder в селектах (дата рождения) */
/* Исправленный селектор */
#birthday select {
    margin: 0 5px;
}

/* Фокус на поле ввода */
input:focus, select:focus {
    outline: none;
    border-color: #9964b8;
}

/* Стиль кнопки */
button {
    font-family: 'Montserrat Light', Microsoft YaHei Light;
    background-color: #9964b8;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9964b8;
}

/* Оборачиваем кнопку в контейнер для выравнивания по правому краю */
#button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    #birthday-container {
        flex-direction: column;
    }

    #birthday-container select {
        width: 50%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        margin-top: 20px;
    }
}

/* Адаптивность для более широких экранов (например, для планшетов и ПК) */
@media (min-width: 768px) {
    button {
        width: auto;
    }
}
